<h1>New Content Type</h1>

<% form_tag([:admin, @content_type]) do %>

  <p>
    <%= label_tag 'content_type[name]', "Name" %>
    <%= text_field_tag 'content_type[name]' %>
  </p>
  <!--<p>-->
    <!--<%= label_tag :data %>-->
    <!--<%= text_area_tag :data %>-->
  <!--</p>-->
  Fields: <br />
  <div class="content_field" style="border: black solid 1px; padding: .8em;">
    <p>
      <%= label_tag 'content_type[fields][name][]', "Name" %>
      <%= text_field_tag 'content_type[fields][name][]' %>
    </p>
    <p>
      <%= label_tag 'content_type[fields][display_name][]', "Display Name" %>
      <%= text_field_tag 'content_type[fields][display_name][]' %>
    </p>
    <p>
      <%= label_tag 'content_type[fields][type][]', "Type" %>
      <%= text_field_tag 'content_type[fields][type][]' %>
    </p>
  </div>
  <p>
    <%= submit_tag 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_content_types_path %>