<li id="comment-<%= comment.id %>" class="comment">
  <div class="body">
    <%=markdown gfm h comment.body  %>
    <p class="meta">
      - <% if comment.link.blank? %> <%=h comment.name %>
        <% else %> <a href="<%=h comment.http %>"><%=h comment.name %></a>
        <% end %>
        on <%= Time.zone.parse(comment.created_at.to_s).strftime("%A, %B %d, %Y") %> at <%= Time.zone.parse(comment.created_at.to_s).strftime("%I:%M %p") %>
      <a href="#comment-<%= comment.id %>">#</a>
    </p>
  </div>
</li>
