<p>
  <b>Title:</b>
  <%=h @reading.title %>
</p>
<p>
  <b>Slug:</b>
  <%=h @reading.slug %>
</p>
<p>
  <b>Reading Language:</b>
  <%=h @reading.reading_language %>
</p>
<% @reading.words.each do |words| %>
  <p>
    <b><%= words[0] %>:</b>
    <%=markdown gfm h words[1] %>
  </p>
<% end %>
<p>
  <b>Public:</b>
  <%=h @reading.public %>
</p>
<p>
  <b>Author:</b>
  <%=h @reading.author %>
</p>
<p>
  <b>Source:</b>
  <%=h @reading.source %>
</p>
<p>
  <b>Published Date:</b>
  <%=h @reading.published_date %>
</p>

<% if @reading['_attachments'] %>
  <ul>
    <% @reading['_attachments'].each do |attachment_name, attachment_attributes| %>
      <object type="application/x-shockwave-flash" data="/flash/player_mp3_maxi.swf" width="200" height="20">
        <param name="movie" value="/flash/player_mp3_maxi.swf" />
        <param name="FlashVars" value="mp3=<%= reading_path(:id => @reading.slug, :filename => attachment_name) %>" />
      </object>
      <%= link_to attachment_name, reading_path(:id => @reading.slug, :filename => attachment_name) %>
      <%= number_to_human_size(attachment_attributes['length']) %>
      <span class="content_type"><%= attachment_attributes['content_type'] %></span>
    <% end %>
  </ul>
<% end %>


<%= link_to 'Edit', edit_admin_reading_path(@reading.id) %> |
<%= link_to 'Back', admin_readings_path %>
