<h1>Editing Content</h1>

<% form_for([:admin, @content], :url => admin_content_path(@content.id)) do |f| %>

  <p>
    <%= f.label :type  %>
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :title  %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug  %>
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :body  %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :public %>
    <%= f.check_box :public %>
  </p>
  <p>
    <%= f.label :published_date  %>
    <%= f.text_field :published_date %>
  </p>
  <p>
    <%= f.label :user_id  %>
    <%= f.text_field :user_id %>
  </p>

  <p>
    <%= f.label :reading_id  %>
    <%= f.text_field :reading_id %>
  </p>

  <p>
    <%= submit_tag 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', admin_content_path(@content.id) %> |
<%= link_to 'Back', admin_content_index_path %>
