<% if not content.reading_id.blank? %>
  <div class="reading">
    <% if content.reading['_attachments'] %>
      <ul>
        <% content.reading['_attachments'].each do |attachment_name, attachment_attributes| %>
          <% if params[:format] == 'rss' %>
            <%= link_to "[audio for #{content.reading.title}]", sound_file_url(:id => content.reading.slug, :filename => attachment_name) %>
          <% else %>
            <object type="application/x-shockwave-flash" data="/flash/player_mp3_maxi.swf" width="200" height="20">
              <param name="movie" value="/flash/player_mp3_maxi.swf" />
              <param name="FlashVars" value="mp3=<%= sound_file_path(:id => content.reading.slug, :filename => attachment_name) %>" />
            </object>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <%  unless content.reading.words.blank? %>
      <% content.reading.words.each do |words| %>
        <% unless words[0].blank? %>
          <div class="words">
          <p>
            <b><%= words[0] %>:</b>
            <%=markdown gfm h words[1] %>
          </p>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="clear"></div>

    <% unless content.reading.author.blank? %>
      <p>
        <b>Author:</b>
        <%=h content.reading.author %>
        <% unless content.reading.source.blank? %>
            <br />
            <b>Source:</b>
            <%=h content.reading.source %>
        <% end %>
      </p>
    <% end %>

  </div>
<% end %>

<div class="body">
  <% if content['_attachments'] %>
    <p>

    </p>
  <% end %>
  <%=markdown gfm content.body %>
</div>
