<div class="content <%= @content.type %>">
  <h2 class="title"><a href="<%= "#{root_url}#{@content.permalink}" %>"><%=h @content.title %></a></h2>
  <% if @content.type != "page" %>
    <p class="meta">by <%= @content.user.display_name %> on <%= Time.parse(@content.published_date).strftime('%A, %B %d, %Y') %> </p>
  <% end %>

  <%= render :partial => 'content/content', :locals => {:content => @content} %>

  <hr />
  <% if @content['view_single'] == true %>
    <div id="comments">
      <h4><% if @comments.size %> <%= @comments.size %> <% end %>Comments</h4>

      <ol id="comment-list">
        <%= render :partial => "comments/comment", :collection => @comments %>
      </ol>

      <% form_for(@comment, :url => comments_path) do |f| %>
        <%= f.text_area(:body, :rows => 5) %>
        <% if not logged_in? %>
        <p>
          <%= f.label :name %>
          <%= f.text_field(:name) %>
        </p>
        <p>
          <%= f.label :link %>
          <%= f.text_field(:link) %>
        </p>
        <p>
          <%= f.label :email %>
          <%= f.text_field(:email) %>
        </p>
        <% else %>
          <%= current_user.display_name %>
        <% end %>
        <%= f.hidden_field(:content_id) %>
        <p>
          <%= submit_tag("Add Comment") %>
        </p>
      <% end %>
      <script type="text/javascript">
        $("#new_comment").submit(function() {
          var options = {
            success: commentSuccess,
            dataType: 'script'
          };

          $(this).ajaxSubmit(options);

          return false;
        });
        function commentSuccess(responseText, statusText) {
          //#alert(responseText);
        }
        function showRequest(formData, jqForm, options) {
            // formData is an array; here we use $.param to convert it to a string to display it
            // but the form plugin does this for you automatically when it submits the data
            var queryString = $.param(formData);

            // jqForm is a jQuery object encapsulating the form element.  To access the
            // DOM element for the form do this:
            // var formElement = jqForm[0];

            alert('About to submit: \n\n' + queryString);

            // here we could return false to prevent the form from being submitted; 
            // returning anything other than false will allow the form submit to continue
            return true;
        }

      </script>
    </div>
  <% else %>
    <p class="meta"><a href="<%= "#{@content.permalink}#comments"%>"><%= pluralize @content.comments.size, 'comment' %></a></p>
  <% end %>
</div>
