<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>blogish</title>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'jquery.form', 'application' %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <div id="header">
      <div id="head">
        <h1><a href="<%= root_url %>">kuch sunao</a></h1>
        <!--<h2>ab kuch to kahoo, yaar</h2>-->
      </div>
    </div>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
